body {
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Expletus Sans', cursive;
}

a:hover {
    text-decoration: none;
}

.display_none {
    display: none;
}
.centered_div {
    text-align: center;
}

.full_wrapping_container {
    padding: 0;
}

.navbar ul.nav > li > a {
    text-decoration: none;
    border: none;
}

.navbar ul.nav > li > a:hover {
    border: none;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
}

.main_header {
    margin-top: -20px;
    padding: 5%;
    height: 40vh;
    background: url('../img/header-mobile.jpg') no-repeat;
    background-size: cover;
    color: #fafafa;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.main_header h1,
.main_header h2,
.main_header h3,
.main_header h4,
.main_header h5,
.main_header h6 {
    color: #fafafa;
    font-weight: 100;
    
}

.heading h1, .heading h2, .heading h3, .heading h4, .heading h5 {
    border-radius: 2px;
    border-bottom-width: 2px;
}

.main_container {
    padding: 30px 0;
}

.coundown_banner {
    width: 100%;
    text-align: center;
    background-color: gray;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.coundown_banner h3 {
    margin: 0;
}

.timeTo figcaption {
    color: #fafafa;
}

.intro {
    text-align: center;
    margin-top: 60px;
}

.mbs {
    margin: 30px 80px;
}

.bar.background-image-fixed-2 {
    background: url('../img/bg2.jpg') center top no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .bar.background-image-fixed-3 {
    background: url('../img/parralax_bg.jpg') center top no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

.par_info {
    margin-bottom: 70px;
}

.card {
    text-align: center;
    margin-top: 15px;
    padding: 5%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 3px;
    min-height: 300px;
}

.card-body {
    background-color: rgba(255,255,255,0.7);
    min-height: 300px;
    padding: 10px;
    margin-top: 10px;
}

.events_container h4 {
    font-size: 1.6vw;
    color: black;
    background-color:rgba(255,255,255,0.7);
    padding: 5px;
}

.fa-info-circle {
    color: black;
}

.speaker_block {
    margin-top: 60px;
}


.modal-header,
.modal-footer {
    text-align: center;
    border: none;
}

.modal-header {
    padding-bottom: 0;
}
.modal_row {
    margin: 15px 0;
}

.border-left {
    border-left: 3px solid rgb(79, 179, 197);
}


.ticket_small {
    padding: 10px;
    border: 1px solid gray;
}

.tickets_large {
    margin: 3% 4%;
    padding: 3%;
    background-color: rgba(255,255,255,0.7);
}

.tickets_large:hover {
    background-color: rgba(255,255,255,0.9);
    transition: background-color .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.tickets_large h4,
.tickets_large h5 {
    color: black!important;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.panel-heading {
    padding: 0;
      border:0;
  }
  .panel-title>a, .panel-title>a:active{
      display:block;
      padding:15px;
    color:#555;
    font-size:16px;
      letter-spacing:1px;
    word-spacing:3px;
      text-decoration:none;
  }
  .panel-heading  a:before {
     font-family: 'Glyphicons Halflings';
     content: "\e114";
     float: right;
     transition: all 0.5s;
  }
  .panel-heading.active a:before {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      transform: rotate(180deg);
  } 

#footer {
    padding: 0;
}

@media (min-width: 768px) {

    .main_header {
        margin-top: -20px;
        padding: 5%;
        height: 50vh;
        background: url('../img/header.jpg') no-repeat;
        background-size: cover;
        color: lightgray;
    }

    .align_right {
        text-align: right;
    }

    .floating_nav {
        margin-top: -60px;
    }

    .navbar-brand {
        display: none;
    }

    .navbar-default {
        background: linear-gradient(transparent, black);
        border: none;
    }

    .nav_norm {
        background: gray;
    }

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .navbar-default .navbar-nav>li>a {
        color: #fafafa;
    }

    .navbar-default .navbar-nav>li>a:hover {
        color: rgb(79, 179, 197);
    }

    .navbar-affixed-top {
        width: 100%;
        text-align: center;
    }
}
